<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head.ejs") %>
    <title>PokeAstro</title>
</head>

<body>
  <h1>PokeAstro</h1>
  <form action="/api" method="post">
    <div>
      <input type="text" name="name">
    </div>
    <button type="submit">Buscar</button>
  </form>
</body>

</html>