<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head.ejs") %>
</head>

<body class="background">
  <div class="container">
    <h1 class="title">PokeAstro</h1>

    <form action="/listPokemon" method="get" class="form">
      <div class="form-group">
        <label for="searchTerm">Nombre</label>
        <input type="text" name="searchTerm" id="searchTerm" />
      </div>
      <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    <form action="/listPokemon" method="get" class="form">
      <button type="submit" class="btn btn-secondary">Listar todos los pokemones</button>
    </form>
  </div>
</body>

</html>

<!-- Este archivo HTML está diseñado como una interfaz principal para interactuar con el usuario en el contexto de "PokeAstro", una aplicación relacionada con Pokémon.
1. Incluye un motor de plantillas (EJS) en el encabezado, permitiendo reutilizar partes comunes como metadatos o enlaces a estilos, lo cual asegura consistencia en toda la aplicación.
2. La clase "background" proporciona probablemente un estilo visual uniforme al fondo de la página, mientras que el contenedor principal estructura de forma clara el contenido visual.
3. El encabezado <h1> con la clase "title" establece el título de la página y da un contexto temático al usuario.
4. Contiene dos formularios para que el usuario interactúe con la aplicación: 
   a. El primer formulario incluye un campo de entrada de texto para que el usuario busque un Pokémon por nombre y envía la solicitud a la ruta "/listPokemon" utilizando el método GET.
   b. El segundo formulario, diseñado para listar todos los Pokémon, se envía también a "/listPokemon", pero no requiere datos adicionales, ya que la acción está implícita.
5. Los botones en los formularios están estilizados con clases CSS ("btn btn-primary" y "btn btn-secondary") para diferenciar acciones y proporcionar una experiencia visual intuitiva al usuario.
6. La estructura general prioriza la claridad y la simplicidad, facilitando una navegación y usabilidad amigable para los usuarios. -->
