<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head.ejs") %>
</head>

<body class="background">
  <div class="container">
    <h1 class="title">Elige uno para conocer más detalles</h1>

    <div class="pokemon-list">
      <% for(let i=0; i < arrayResult.length; i++) { %>
        <a href="./getPokemon?name=<%=arrayResult[i].name %>">
          <%= arrayResult[i].name %>
        </a>
        <% } %>
    </div>

    <button onclick="window.location.href='/';" class="btn btn-primary">Volver al inicio</button>
  </div>
</body>

</html>