<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head.ejs") %>
</head>

<body class="background">
  <div class="container">
    <h1 class="title">Elige uno para conocer más detalles</h1>

    <div class="pokemon-list">
      <!-- Aquí se insertará el HTML generado -->
    </div>
    <div id="results"></div>
    <button onclick="window.location.href='/';" class="btn btn-primary">Volver al inicio</button>
  </div>

  <script src="./js/listPokemon.js"></script>
</body>

</html>