<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head.ejs") %>
</head>

<body class="background">
  <div class="container">
    <h1 class="title">¡Increíble! es un <span class="answer"></span>!</h1>
    <img src="" alt="Imagen de Pokémon" />
    <h1>Su peso estimado es de <span class="answer"></span>kg y suelen tener <span class="answer"></span>cm de alto!
    </h1>
    <h1>Es del tipo <span class="answer"></span></h1>
    <h1>¡Este <span class="answer"></span> sería una gran opción de mascota en el mundo Pokémon!</h1>
    <button onclick="window.history.back();" class="btn btn-primary">Volver</button>
  </div>
  <script src="../src/DTO/dataPokemonDTO.js"></script> <!-- Añadir el DTO antes de detailPokemon.js -->
  <script src="./js/detailPokemon.js"></script> <!-- Añadimos la ruta al script -->
</body>

</html>