<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head.ejs") %>
    <title>
      <%= dataPokemon.pokemon %>
    </title>
</head>

<body>
  <h1>Hola mi nombre es <%= dataPokemon.pokemon %>
  </h1>
  <h1></h1>

</body>

</html>