<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PokeAstro</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<!-- Este elemento <head> contiene los metadatos esenciales para configurar correctamente la página web:
1. La etiqueta <meta charset="UTF-8"> define la codificación de caracteres como UTF-8, asegurando que se muestren correctamente los caracteres especiales y símbolos.
2. La etiqueta <meta name="viewport" content="width=device-width, initial-scale=1.0"> permite que la página se adapte responsivamente a diferentes tamaños de pantalla, mejorando la experiencia en dispositivos móviles.
3. La etiqueta <title> establece el título de la página, "PokeAstro", que aparece en la pestaña del navegador y ayuda a identificar el contenido del sitio.
4. El enlace <link rel="stylesheet" href="/css/styles.css"> conecta un archivo externo de estilos CSS, permitiendo personalizar y mejorar la apariencia visual de la página. -->
